<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afvinkopdracht 4</title>
    <meta name="Margo Raijmakers" content="Afvinkopdracht 4 HTML" charset="UTF-8">
</head>
<body>
    <form method="get">
        <p>
            Geef een sequentie:
            <input type="text" name="seq"> <input type="submit">
        </p>
        <hr>
        <p>
        {{ type }} <br>
        {% block content %}
        {% endblock %}
        </p>
    </form>
</body>
</html>